<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
        <style>
html, body {
  margin: 5px;
  padding: 0;
}
body { padding: 20px; }
td, th { padding: 10px; }
table {
  border-collapse: collapse;
  margin-top: 20px;
}

.parent{
  width:657px;
  height:440px;
  position: relative;
  display: inline;
  z-index:0;
}

.parent span{
  position: absolute;
  z-index: 1;
  padding: 4px;
  border: 4px solid red;
  bottom: 125;
  font-weight: bold;
}
.parent .y1 { left: 390; }
.parent .y2 { left: 260; }
.parent .y3 { left: 125; }
.parent .y4 { bottom:190; left:490; }

.inner{
  position:absolute;
  z-index:1;
  bottom:0;
  right:0;
}
        </style>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="app">
            <textarea v-model="i94raw" rows="10" cols="33" placeholder="paste I-94 data. Ex:&#13;&#10;1&#13;&#10;2019-01-02&#13;&#10;Departure&#13;&#10;NYC&#13;&#10;2&#13;&#10;2018-06-18&#13;&#10;Arrival&#13;&#10;NYC"></textarea>
            <br/>
            <input type="checkbox" id="checkbox" v-model="is_alien">
            <label for="checkbox">Are you a foreign/alien person?</label>
            <!--p>{{ i94 }}</p>
            <p>{{ i94_years }}</p>
            <p>{{ i94_days }}</p>
            <p>{{ i94_status }}</p-->
            <div v-if="i94_valid">
              <table border="1">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col" v-for="year in i94_years">{{ year }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Days present in the USA</th>
                    <td v-for="days in i94_days">{{ days }}</th>
                  </tr>
                  <tr>
                    <th scope="row">Resident status</th>
                    <td v-for="status in i94_status">{{ status }}</th>
                  </tr>
                </tbody>
              </table>
              <br/>
              <div v-if="is_alien">
                <div v-if="i94_residentYears.length">Form <a href="https://www.irs.gov/forms-pubs/about-form-1040">1040</a> shold be used for the following years: {{ i94_residentYears | formatYears }}</div>
                <div v-if="i94_nonresidentYears.length">Form <a href="https://www.irs.gov/forms-pubs/about-form-1040-nr">1040-NR</a> shold be used for the following years: {{ i94_nonresidentYears | formatYears }}</div>
                <br/>
                <div v-if="i94_possibleNrYears.length">You might be eligible for <a href="https://www.irs.gov/individuals/international-taxpayers/closer-connection-exception-to-the-substantial-presence-test">closer connection exception</a> for the following years:
                  <tabs>
                    <tab v-for="year in i94_possibleNrYears" :key="year" :name="''+year">
                      <div class="parent">
                        <img src="8840.png" alt="sample form 8840" width="657" height="440" />
                        <span class="y1">{{ presentDays(year-2) }}</span>
                        <span class="y2">{{ presentDays(year-1) }}</span>
                        <span class="y3">{{ presentDays(year) }}</span>
                        <span class="y4">{{ entryDate(year) }}</span>
                      </div>
                    </tab>
                  </tabs>
                </div>
              </div>
            </div>
            <div v-else>
              <ol>
                <li>Visit <a href="https://i94.cbp.dhs.gov/I94/#/home">https://i94.cbp.dhs.gov/I94/#/home</a> and click "View travel history"</li>
                <li>Enter your personal details and submit the request</li>
                <li>Copy resulting I-94 table data</li>
                <li>Paste copied data in the input field above</li>
              </ol>
              <div v-if="i94_invalid">
              <strong>Error: provided data isn't valid I-94 record.</strong>
              </div>
            </div>
        </div>
        
        <script>
function parseI94Data(data){
  var x = data.replace(/^[^ -~]*|[^ -~]*$/gm, '').split(/[\r\n]+/);
  var d = [];
  for (var i=0; i+3<x.length; i+=4)
  {
    var m = x[i+1].match(/^(\d+)\-(\d+)\-(\d+)$/);
    if (d.length != x[i] - 1 || (x[i+2] != 'Arrival' && x[i+2] != 'Departure') || !m)
      return 'invalid data';
    d.push([new Date(m[1], m[2]-1, m[3]), x[i+2]=='Departure' ? 'D' : 'A']);
  }
  return d;
}
function calculatePresence(d)
{
  if (!d.length)
    return [];
  const msDay = 24 * 60 * 60 * 1000;
  var present = d[0][1]=='A';
  var now = new Date();
  var t = (new Date(now.getFullYear(), now.getMonth(), now.getDate())).getTime();
  var year = now.getFullYear(), yearEnd = d[d.length-1][0].getFullYear();
  var ret = [];
  var pos = 0, presentCount = 0, entryDate = null, nextT = d[pos][0].getTime();
  for (;;)
  {
    var y = (new Date(t)).getFullYear();
    if (y != year)
    {
      ret.push([year, presentCount, entryDate]);
      if (y < yearEnd)
        break;
      presentCount = 0;
      year = y;
    }
    if (present)
      presentCount++;
    while (t <= nextT)
    {
      pos++;
      var p0 = pos >= d.length ? !present : d[pos][1]=='A';
      var t0 = pos >= d.length ? nextT - 1000*msDay : d[pos][0].getTime();
      if (p0 == present)
      {
        present = !p0;
        nextT = (nextT + t0)/2;
        pos--;
      }
      else
      {
        present = p0;
        nextT = t0;
      }
      if (present)
        entryDate = new Date(nextT);
    }
    t -= msDay;
  }
  return ret;
}

function calculateStatus(d)
{
  var ret = [];
  for (var i=0; i<d.length; ++i)
  {
    var days = d[i];
    if (i > 0)
      days += d[i-1]/3;
    if (i > 1)
      days += d[i-2]/6;
    if (days >= 183 && d[i] >= 31)
      ret.push(d[i] < 183 ? 'R?' : 'R');
    else
      ret.push('NR');
  }
  return ret;
}

function filterYears(years, status, type)
{
  var ret = [];
  for (var i=0; i<years.length; ++i)
  {
    if (status[i] == type)
      ret.push(years[i]);
  }
  return ret;
}

Vue.component('tabs', {
  template: `
    <div>
      <div class="tabs">
        <ul>
          <li v-for="tab in tabs" :class="{ 'is-active': tab.isActive }">
            <a :href="tab.href" @click="selectTab(tab)">{{ tab.name }}</a>
          </li>
        </ul>
      </div>
      <div class="tabs-details">
        <slot></slot>
      </div>
    </div>
    `,
  data() {
    return {tabs: [] };
  },
  created() {
    this.tabs = this.$children;
  },
  methods: {
    selectTab(selectedTab) {
      this.tabs.forEach(tab => {
        tab.isActive = (tab.name == selectedTab.name);
      });
    }
  }
});

Vue.component('tab', {
  template: "<div v-show=\"isActive\"><slot></slot></div>",
  props: {
    name: { required: true },
    selected: { default: false}
  },
  data() {
    return {
      isActive: false
    };
  },
  computed: {
    href() {
      return '#' + this.name.toLowerCase().replace(/ /g, '-');
    }
  },
  mounted() {
    this.isActive = this.selected;
  }
});

var app = new Vue({
  el: '#app',
  data: {
    i94raw: '',
    is_alien: false
  },
  filters: {
    formatYears: function(years) {
      return years.toString().replace(/\[|\]/g, '').replace(/,/g, ', ');
    }
  },
  computed: {
    i94parsed() {
      return parseI94Data(this.i94raw);
    },
    i94_invalid() {
      return !Array.isArray(this.i94parsed);
    },
    i94() {
      return this.i94_invalid ? [] : calculatePresence(this.i94parsed);
    },
    i94_years() {
      var ret = [];
      for (const el of this.i94)
        ret.push(el[0]);
      ret.reverse();
      return ret;
    },
    i94_days() {
      var ret = [];
      for (const el of this.i94)
        ret.push(el[1]);
      ret.reverse();
      return ret;
    },
    i94_status() {
      return calculateStatus(this.i94_days);
    },
    i94_valid() {
      return Array.isArray(this.i94) && this.i94.length > 0;
    },
    i94_residentYears() {
      return filterYears(this.i94_years, this.i94_status, 'R');
    },
    i94_nonresidentYears() {
      return filterYears(this.i94_years, this.i94_status, 'NR');
    },
    i94_possibleNrYears() {
      return filterYears(this.i94_years, this.i94_status, 'R?');
    }
  },
  methods: {
    presentDays(year){
      for (var i=0; i<this.i94_years.length; ++i)
      {
        if (year == this.i94_years[i])
          return this.i94_days[i];
      }
      return 0;
    },
    entryDate(year){
      for (const el of this.i94)
      {
        if (el[0] == year && el[2] != null)
          return 1+el[2].getMonth() + '/' + el[2].getDate() + '/' + el[2].getFullYear();
      }
      return "?";
    }
  }
});
        </script>
    </body>
</html>
